.section1{
    background-image: url(/images/backgrounds/h_img.jpg);
    background-attachment: fixed;
   
}
.a{
    align-items: center;
    color: white;
    padding-left: 350px;
    padding-top: 400px;
    padding-bottom: 300px;
}
.img1{
    padding-top: 200px;
}
.section2{
    text-align: center;
}
.section3{
    background-image: url(/images/backgrounds/s_image.jpg);
    text-align: center;
    color: white;
    padding: 135px 5px 180px 150px;
}
.section4{
    text-align: center;
    margin: 50px;
}
.threeimages{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.section5{
    text-align: center;
}
.firstline{
    display: flex;
}
